@import "tailwindcss";

:root {
  --background: #fdfaf6;
  --foreground: #111111;
  --color-lightgreen: #e6ec98;
  --color-green: #464400;
  --color-darkgreen: #262503;
  --color-blue: #add1fe;
  --color-lightblue: #ddecff;
  --color-red: #650006;
  --color-darkred: #240204;
  --color-pink: #fdb3d3;
  --color-lightpink: #ffe1ee;
  --color-yellow: #fddb74;
  --color-lightyellow: #fef1c8;
  --color-beige-200: #fdfaf6;
  --color-beige-400: #fcf7f1;
  --color-beige-600: #f6f0e7;
  --color-beige-800: #e2d7c9;
  --color-borderbeige: #e2d7c9;
}

@theme inline {
  --font-sans: var(--font-general-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-general-sans), sans-serif;
}
