@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111111;
  --color-green: #c7d141;
  --color-darkgreen: #595300;
  --color-blue: #e1efff;
  --color-darkblue: #b0d3fe;
  --color-red: #ba4100;
  --color-darkred: #5c0007;
  --color-pink: #ffcbf1;
  --color-yellow: #fffcb3;
  --color-borderbeige: #e2d8cc;
  --color-bgbeige: #fdfaf6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
